<app-navbar [ngClass]="connectionLost ? 'opacity-40' : ''" ></app-navbar>
<!-- Connection lost-->
<div *ngIf="connectionLost" class="flex items-center justify-center">
  <app-connection-lost></app-connection-lost>
</div>


<div [ngClass]="connectionLost ? 'opacity-40' : ''" class="container">
  <div class="col-md-6">
    <div>
      <h2 class="mt-10 ml-52 items-center">TODO: Temperature charts data is currently static, but the sockets are working</h2>
    <!-- <canvasjs-chart [options]="chartOptions" class="mt-12 ml-32 flex items-center justify-center" [styles]="{width: '75%', height:'360px'}"></canvasjs-chart> -->
    <div id="chartContainer" class="mt-10 ml-52 items-center" style="height: 320px; width: 75%;"></div>

  </div>
  </div>

  <div class="col-md-6">
    <!-- Plant Status -->
    <div class="mt-10 ml-52 items-center">
      <button *ngIf="isPlantsAreDry" (click)="runServo()" class="mt-10 items-center inline-flex bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base">
        Water the plants 🌱
      </button>
      {{plantStatus}}
    </div>

    <div class="">
      <!-- <button *ngIf="isPlantsAreDry" (click)="runServo()" class="mt-10 ml-52 items-center inline-flex bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base">
        Water the plants 🌱
      </button> -->
      <p class="mt-2 ml-52 items-center" *ngIf="receivedData.humidtyIndoor !== ''">Humidity on Air {{receivedData.humidtyIndoor}}%</p>
      <p class="mt-2 ml-52 items-center" *ngIf="receivedData.rainStatus === 'rain'">{{rainStatus}}</p>
    </div>
  </div>
</div>
